<h1>The secret page!</h1>

<p>You find me !</p>

<img src="http://wx1.sinaimg.cn/large/6b6c3dbcly1g359en2r9bj20qe0gpq7k.jpg" alt="">

<ul>
    <li><a href="/secret">Secret</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>